.wrapper {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #0a192f;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

body {
    background-color: #0a192f;
}

/********************************************/
/*************SHARED-COMPONENTS**************/
/********************************************/
.section-header {
    display: flex;
    margin-top: 300px;
}

.section-header-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.section-header-span {
    color: #64ffda;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    margin-right: 30px;
}

.section-header-text-container h2 {
    color: #abb6d4;
    font-size: 2.5rem;
}

.section-header-line {
    border-top: 1px solid #64FFDA;
    width: 690px;
    margin: 55px 0 0 30px;
    opacity: .4;
}


/********************************************/
/*****************NAVIGATION*****************/
/********************************************/
.nav { 
    grid-area: 1 / 1 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin: auto;
    margin-top: 50px;
    margin-bottom: -300px;
}

.nav-container ul {
    list-style: none;
}

.nav-container li {
    display: inline;
    margin-left: 80px;
}

.nav-container span {
    color: #64ffda;
    margin-right: 10px;
    font-family: 'Share Tech Mono', monospace;
}

.nav-container a {
    text-decoration: none;
    color: #99a4c2;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all color .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all color .5s ease-in-out;
}

.nav-container a:hover {
    color: #64ffda;
}

.nav-container button {
    background: transparent;
    border: 1px solid #64ffda;
    color: #64ffda;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-family: 'Share Tech Mono', monospace;
}

.nav-container button:hover {
    background-color: rgba(100, 255, 218, .1);
    transform: scale(1.01);
}

.ac-logo {
    grid-area: 1 / 1 / 2 / 2;
}

.nav-container {
    grid-area: 1 / 2 / 2 / 6;
    font-size: 1.5rem;
}

/********************************************/
/**************LEFT+RIGHT-LINKS**************/
/********************************************/

.left-links { 
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: fixed;
    margin-left: 150px;
    align-items: center;
    grid-area: 2 / 1 / 7 / 2; 
}

.left-line {
    width: 0px;
    height: 200px;
    border-left: 1px solid #64FFDA;
}

.left-links a {
    margin-bottom: 30px;
}

.left-links a:hover {
    transform: scale(1.1);
}

.right-links { 
    grid-area: 2 / 5 / 7 / 6;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 50px;
    font-size: 1.1rem;
    letter-spacing: 5px;
    align-items: center; 
}

.right-links a {
    text-decoration: none;
    color: #99a4c2;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all color .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all color .5s ease-in-out;
}

.right-link-wrapper {
    rotate: 90deg;
    margin-bottom: 50px;
    z-index: 5000;
    width: auto;
    height: auto;
}

.right-link-wrapper:hover {
    color: #64ffda;
}

.right-links a:hover {
    color: #64ffda;
}


.right-links span {
    rotate: 90deg;
    margin-bottom: 60px;
}

.right-line {
    width: 0px;
    height: 200px;
    border-right: 1px solid #64FFDA;
    margin-top: 105px;
}

/********************************************/
/****************HERO-CONTENT****************/
/********************************************/

.hero-container { 
    grid-area: 2 / 2 / 3 / 5;
}

.hero-container span {
    font-family: 'Share Tech Mono', monospace;
    color: #64ffda;
    font-size: 2rem;
}

.hero-h1-1 {
    color: #abb6d4;
    font-size: 5rem;
}

.hero-h1-2 {
    color: #8892b0;
    font-size: 5rem;
}

.hero-container p {
    color: #8892b0;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 1px;
    width: 40vw;
}

.hero-container a {
    text-decoration: none;
    color: #64ffda;
}

/********************************************/
/****************ABOUT-CONTENT***************/
/********************************************/

.about-container { 
    grid-area: 3 / 2 / 4 / 5; 
}

.about-content {
    display: flex;
}

.about-container p {
    color: #8892b0;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 1px;
    width: 35vw;
    margin-right: 75px;
}

/********************************************/
/***************SKILLS-CONTENT***************/
/********************************************/

.skills-container { 
    grid-area: 4 / 2 / 5 / 5;
}

.skills-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.skills-row:last-child {
    display: flex;
    justify-content: space-around;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    margin-top: 50px;
    
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8892b0;
    font-size: 1.5rem;
}

.icon span {
    margin-top: 20px;
}

/********************************************/
/**************PROJECTS-CONTENT**************/
/********************************************/

.projects-container { 
    grid-area: 5 / 2 / 6 / 5;
    max-width: 60vw;
    padding-top: 30px;
    transition: 1.3s;
    height: auto;
    margin: auto;
}

.projects-container * {
    box-sizing: border-box;
}

.myBtnContainer {
    display: flex;
    justify-content: space-between;
}

.gallery-wrapper {
    margin-top: 50px;
}

.row {
    margin: 10px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #8892b0;
    width: 300px;
    height: 300px;
}

.content span {
    bottom: 0;
    position: absolute;
    width:inherit;
    background-color: rgba(17, 34, 64, 0.6);
    
}

.content h4 {
   font-size: 1.5rem;
   text-align: center;
   color: #fff;
}

.show {
    display: block;
}

.btn {
    border: 1px solid #64ffda;
    background: transparent;
    padding: 15px;
    color: #64ffda;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(100, 255, 218, .1);
}

.btn:active {
    background-color: rgba(100, 255, 218, .1);
    color: #fff;
}

/********************************************/
/***************CONTACT-CONTENT**************/
/********************************************/

.contact-container { 
    grid-area: 6 / 2 / 7 / 5; 
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.contact-header h2 {
    color: #abb6d4;
    font-size: 2.5rem;
}

.contact-header p {
    color: #8892b0;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 1px;
    width: 35vw;
    text-align: center;
    margin-bottom: 50px;
}

.contact-header a button {
    width: 150px;
    height: 60px;
    border: 1px solid #64ffda;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #64ffda;
    background: transparent;
}

.contact-header a:hover {
    background-color: rgba(100, 255, 218, .1);
    transform: scale(1.01);
}

/********************************************/
/***************FOOTER-CONTENT***************/
/********************************************/

.footer { 
    grid-area: 7 / 1 / 8 / 6; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    margin-top: 100px;

}

.footer span {
    text-align: center;
    color: #8892b0;
}

.footer a {
    text-decoration: none;
    color: #64ffda;
}